.hero-suite-flex2{
    background-color: $darkblue;
    padding: 0 100px;
    padding-top: 120px;
    
    .content,.form{
        width: 50%;
        position: relative;

    }
    .content{
        display: flex;
        padding: 20px;
        align-items: center;
        img{
            max-width: 100%;
        }
        .btn{
            border: 1px solid $white;
            color: $white;
            margin-right: 12px;
            margin-bottom: 20px;
            font-size: 14px;
            font-weight: 600;
            &:hover{
                background-color: #1E99D5;
                color: $white;
                border: 1px solid #1E99D5 ;
            }
        }
        p{
            color: $white;
            @extend %share-p;
            margin: 30px 0;
            @include respond-to(600){
                br{
                    display: none;
                }
            }
        }
    }
    .container-frm{
        position: relative;
        background-color: $background;
      padding:40px 20px 0px 20px;
        &>h4{
            @extend %share-h4;
            color: #3D3D3D;
            margin-bottom: 15px;
        }
        &>p{
            @extend %share-p;
            color: #3D3D3D;
            margin-bottom: 30px;
        }
    }
    form{ 
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        span{
            font-size: 14px;
        }
        input[type=text]{
            width: 49%;
            margin-bottom: 20px;
            padding: 15px;
            font-size: 14px;
            background-color: $white;
            border: none;
            outline: none;
            color: $white;
            &::placeholder{
                color: black;
            }

            &:focus{
                background-color: $darkblue2;
            }
            
        }
        input[type=checkbox]{
            margin-right: 15px; 
            background-color: white;
            border: none;
            outline: none;
        }
        div{
            margin: 15px 0;
            display: flex;
            align-items: flex-start;
        }
        button{
            width: 100%;
            display: block;
            background-color: $darkblue2;
            color: $white;
            outline: none;
            border: none;
            padding: 15px;
            font-size: 14px;
        }
        p{
            text-align: center;
            background-color: $background;
            z-index: 1000;
            position: absolute;
            bottom: -60px;
            width: 100%;
            left: 0;
            padding:20px ;
            font-size: 13px;
            @include respond-to(626){
                position: relative;
                bottom: 0;
            }
             
            
        }

    }
    @include respond-to(1024){
        width: 100%;
        padding: 0 40px;
        padding-top: 100px;
        .form,.content{
            width: 100%;
            justify-content: space-around;
        }
        
        .form{
            input[type=text]{
                width: 100%;
            }
        }
       
        @include respond-to(600){
            min-height: 770px;
            
            .container-frm{
                width: 100%;
                position: absolute;
                top:0;
                left: 0;
            }
            button{
                border-radius: 30px;
            }
            
        }
    }
    @include respond-to(600){
        .content{
            .btn{
                width: 100%;
            }
        }
    }
}
.tool-robo-suite{
    h2{
        @extend %share-h4;
        color: $textblack;
        margin-bottom: 30px;
        line-height: 34px;
 
    }
    p{
        min-height: 50px;
        color: #43413c;
    }
    hr{
        margin: 50px 0;
        border: none;
        border-bottom: 1px solid $darkblue2 ;
    }
    @include respond-to(1024){
        h2{
            font-size: 25px;
            margin: 0;
            margin-bottom: 25px;
        }

    }
}
.video-flex2{
    padding: 160px  0px 100px  0px;
    .video,.content{
        width: 50%;
        position: relative;
    }
    .video{
        padding:0 40px;
    }
    .content{
        padding-left: 40px;
        img{
            max-width: 100%;
        }
    }
    iframe{
        position: absolute;
        top: 0;
        left: 40px;
        bottom: 0;
        right: 40px;
        width: 90%;
        height: 100%;

    }
   
    @include respond-to(1024){
        .video,.content{
            width: 100%;
        }
        .video{
            min-height: 300px;
            iframe{
                position: relative;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    @include respond-to(600){
        padding: 600px  0px 100px  0px;
       
    }
}
.suite{
    .ss2{
        .owl-dots { 
           .owl-dot{ 
               background: $background; 
           }
           .active{ 
               background: $blue; 
           }
       }
       @include respond-toSP(1024){
           .robo-item{
               padding-bottom: 25px;
           }
       }
    }
    .ss3{
        background-color: $blue;
        padding: 55px 55px 90px 55px;;
        text-align: center;
       h4{
            color:$white;
            @extend %share-p;
            margin-bottom: 25px;
            font-size: 13px;
            font-weight: normal;
        }
    
        h3{
            @extend %share-h40;
            color:$white;
            margin-bottom: 35px;
          
        }
        .height{
            background-color: $blue;
            padding-bottom: 90px;
        }
        p{
            color: $white;
            @include respond-to(768){
                br{
                    display: none;
                }
            }
        }
        .btn{
            border: 1px solid $white;
            color: $white;
            margin-right:  20px;
            margin-top: 40px;
            font-size: 14px;
            font-weight: 600;
            &:hover{
                background-color: $white;
                color: $blue;
            }
        }
        @include respond-to(1024){
            padding: 40px;
        }
        @include respond-to(768){
            .btn{
                width: 100%;
            }
        }
        @include respond-to(600){
            p,h3,h4{
                text-align: left;
            }
            p{
                margin-bottom:30px ;
            }
            h3{
                line-height: 28px;
            }
            .btn{
                margin-top: 20px;
            }
            
        }
    }
    .ss4{
        .owl-dots {
            display: none;
            text-align: center;
            margin-top: 0;
            padding-bottom: 40px;
           .owl-dot{ 
               background: $background; 
           }
           .active{ 
               background: $blue; 
           }
       }
        position: relative;
        padding: 0 90px;
        background: url(../imgs/bg-suitr-ss4.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 300px;
        .item{
            padding: 30px;
        }
        .owl-carousel{
            position: absolute;
            top: -50%;
            left: 0;
            width: 100%;
            padding: 0 90px;
        }
        @include respond-to(1350){
            min-height: 250px;
        }
        @include respond-to(1024){
            padding:0 40px;
            
            .owl-carousel{
                position: relative;
                top: -110px;
                left: 0;
                width: 100%;
                padding: 0 0;
            } 
        }
        
        @include respond-toSP(1650){
            min-height: 380px;
        }
        @include respond-to(600){
            padding: 40px;
            .owl-carousel {
                position: absolute;
                top: -40%;
                left: 0;
                width: 100%;
                padding: 0 40px;
            }
            min-height: 350px;
        }
        @include respond-to(600){
            
            min-height: 350px;
        }
        @include respond-to(450){
            
            min-height: 250px;
        }
        @include respond-to(350){
            
            min-height: 180px; 
        }
    }
}