extends ./parts/layout.pug
prepend meta
    title The Natives - CUSTOMER STORY
    
block main-wrapper
    h1(style="display:none") The Natives - CUSTOMER STORY 
    .wrapper-child.cus-story
        .hero-cus-story
            img(src="./assets/imgs/cus-story.png", alt="")
        .ss1
            h2 CUSTOMER STORY
            h3 Company Name
            p Imagine a different kind of workforce – one that learns countless skills in the blink of an eye, that becomes more efficient every day, that doesn’t sleep or take holidays, that expands and retracts with your business needs. It boosts customer service and satisfaction, increases revenues and profits and empowers your employees.
            .list-d-flex
                .item
                    h4 INDUSTRY
                    p International Retailer
                .item
                    h4 HEADQUARTERS
                    p New York
                .item 
                    h4 COMPANY SIZE
                    p 120,000+ Employees
                .item 
                    h4 CSAT
                    p 100%
        .ss2
            h4 OUR PRODUCTS USED
            .img
                img(src="./assets/imgs/icons/story-robo-designer.svg", alt="")
                img(src="./assets/imgs/icons/story-robo-manager.svg", alt="")
        .ss3
            .list-d-flex
                .item
                    h4 10+
                    p Global Locations
                .item
                    h4 15+
                    p Years in Business
                .item 
                    h4 1500+
                    p People Trained in RPA
                .item 
                    h4 10+
                    p Global Locations
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            .img
                img(src="./assets/imgs/story-img1.jpg", alt="")
                img(src="./assets/imgs/story-img1.jpg", alt="")
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            a(href="#").btn Share Article
            .height
        .ss4
            .block-from   
                .img
                    img(src="assets/imgs/dow-story.jpg")            
                .form
                    form
                        h3 Download Customer Story
                        p Imagine a different kind of workforce – one that learns countless skills in the blink of an eye, that becomes more efficient every day, that doesn’t sleep or take holidays.
                        .group-input1
                            lable Name
                            input(type="text")
                        .group-input2
                            lable Email
                            input(type="text")
                        .clearfix
                        .submit
                            button(type="submit").btn Download Customer Story
        .ss5
            h3 Related Customer Stories
            include ./parts/includes/09-block-owl-case.pug


                     
            




                
