extends ./parts/layout.pug
prepend meta
    title The Natives - OPSIQ
    
block main-wrapper
    h1(style="display:none") The Natives - OPSIQ 
    .wrapper-child.opsiq
        +secondNav("./assets/imgs/logo-opsiq.svg","#1E99D5")
        .ss1  
            .flex2
                .content
                    h2 Reveal OpsIQ®: Operational<br/> Intelligence to simplify your<br/> Operations Management.
                    p Obtain the right insights. Simplify your decision-making.<br/> Quantify your improvements.
                    a(href="#").btn Free Trial
                .img 
                    img(src=`./assets/imgs/opsiq01.png`, alt="")
                    img(src=`./assets/imgs/opsiq02.png`, alt="")
                    
        .ss2
            .flex2
                .content
                    h2 Reveal OpsIQ®:<br/> Timely, insightful operational<br/> data is critical for making the<br/> right decisions.
                    p Obtain activity completion data in real-time and compare it to your defined standards. Use the detailed reporting insights to identify your opportunities. Use the rich process data to inform whether to streamline or automate your processes. 
                    p Utilize the skills functionality to up-skill and cross-skill your  workforce. Plan ahead so your workforce can undertake the right work at the right time.  Watch your productivity, timeliness and customer satisfaction grow.
                .img
                    img(src=`./assets/imgs/opsiq04.png`, alt="") 
                .space
        .ss3
            .flex2
                .img 
                    img(src=`./assets/imgs/opsiq03.png`, alt="") 
                .content
                    h3 Reveal OpsIQ®: Operational<br/> Understanding your processes<br/>has never been more important.
                    p Is your operation completing its processes in the most effective way possible? Knowing how much effort and cost your end-to-end processes and their constituent activities consume is vital. Without this detailed data, you will mis-diagnose the best automation or re-engineering activities.  
                    p As well actual effort and cost data, your process volumes are a key input for your demand and supply workforce resourcing plan.
        .ss4
            .flex2 
                .content
                    h3 Reveal OpsIQ®: Operational<br/> Understanding your processes<br/>has never been more important.
                    p Is your operation completing its processes in the most effective way possible? Knowing how much effort and cost your end-to-end processes and their constituent activities consume is vital. Without this detailed data, you will mis-diagnose the best automation or re-engineering activities.  
                    p As well actual effort and cost data, your process volumes are a key input for your demand and supply workforce resourcing plan.
                .img 
                    img(src=`./assets/imgs/opsiq05.png`, alt="") 
        .ss5
            .flex2
                h3 Reveal OpsIQ®: Planning is essential so you complete the right work at the right time
                .destription
                    p Can your operation look ahead to confidently predict future workloads and future resourcing requirements?
                    p Being able to deliver what your customers want at the right time requires more than just robust data and metrics. You need a planning interface that allows you to quantify the impact on your resourcing of a myriad of concurrent factors (such as customer demand, workforce productivity, downtime, the impact of improvement initiatives, etc).
                    p Your financial controller will be very interested in your projected resourcing – Reveal OpsIQ® provides the visibility stakeholders need to ensure they are ‘on the same page’.
            .img
                img(src=`./assets/imgs/opsiq06.png`, alt="") 
        .ss6
            .flex2
                .img
                    img(src=`./assets/imgs/opsiq07.png`, alt="")
                .right
                    .content
                        h3 Reveal OpsIQ®: Industrial-strength cloud-hosted SaaS software
                        p Easy to deploy, robust, reliable, secure, flexible, industry-leading.Reveal OpsIQ® is used by large and small organizations across a variety of industries. Our development team enjoys nothing more than collaborating with clients to meet new and interesting use-cases.
                        p View our case studies to see some examples
                        a(href="#").btn View our Case Studies
                   

            


