.induction-flex2
    .content
        h3 INTRODUCTION
        h4 Potential users of this training course might include:
        ul
            li Project and Program Managers wanting a greater knowledge of the work completed during development
            li Potential Blue Prism customers and partners needing a better understanding of the product
            li Technical staff not involved in the creation of Blue Prism automations but with an interest in its use
            li Analysts and testers who may wish to better understand the required in process documentation and test plans
            li Support Administrators of Blue Prism solutions who may need a basic knowledge of Process Configuration to aid with basic support and problem-solving
        

    .img
        img(src="./assets/imgs/img-induction.jpg", alt="")