.client-d-flex
    -for(i=1;i<=10;i++)
        .item.popup
            img(src="./assets/imgs/1.png", alt="")
            a(href="#") View Customer Story
.modal
  .modal-content
    span.close
        img(src="./assets/imgs/appstore/icon-exit.svg", alt="")
    img(src="./assets/imgs/appstore/blueprism.svg", alt="blueprism")
    h4 Blue Prism
    .item-content
        p As the first and only Blue Prism partner to achieve Double Platinum status, we are the most certified and experienced Delivery, Capability and Training partner in the world. Since 2014, we have implemented Blue Prism for clients in over 20 industries and have trained more than 1500 client resources. Our unique approach leverages our experience, IP and training to quickly build client capability and self-sufficiency. Organizations look to us to start and scale their Blue Prism programs.<br/> Our clients have won dozens of awards for their sustainable, scalable Blue Prism programs.
        .block-img
            img(src="./assets/imgs/appstore/blueprim-item1.svg", alt="blueprism")
            img(src="./assets/imgs/appstore/blueprim-item2.svg", alt="blueprism")
            a(href="#") Learn about our training programs

.owl-carousel.owl-theme.owl-our-mobie
    - for(i=1;i<6;i++)
        .item.popup
            .item__top
                img(src="./assets/imgs/1.png", alt="")
                a(href="#") View Customer Story
            hr
            .item__bottom
                img(src="./assets/imgs/1.png", alt="")
                a(href="#") View Customer Story