form
    input(type="text" placeholder="First name")
    input(type="text" placeholder="Last Name")
    input(type="text" placeholder="Email")
    input(type="text" placeholder="Phone")
    select 
        option(value="1") Enquiry Type
        option(value="1") Enquiry Type
        option(value="1") Enquiry Type
    textarea(cols="1", rows="20" placeholder="Message")
    .submit    
        button(type=submit).btn SUBMIT