.hero-landing
    .content
        h2 Training Academy 
        h4 A successful Intelligent Automation program is a self-sustainable one.<br/>Don’t overpay for RPA. Invest in your people. Not big consulting firms.
        p Cut out ongoing consulting fees by training your own Intelligent Automation experts. Our courses can help you build the internal capabilities needed to take control and accelerate your automation projects.<br/>We offer the same courses and skill developments that have made our RPA team the best in the business, enabling us to train others to build their own world-class digital workforce capabilities.
        a(href="#").btn Get started
    img(src="./assets/imgs/partner.png", alt="")