.block-include-landing-ss1
    .content
        h3 We embed lasting capability within your team through our accredited training courses and our proven capability to build internal knowledge and skills through our highly skilled team of Certified Developers.
    .img
        img(src="./assets/imgs/landing1.jpg", alt="")